@import url('https://fonts.googleapis.com/css?family=PT+Mono|Titillium+Web:200,400,700');

$primary-colour: #1d679c!important;
$accent-colour: #ff4080!important;
$primary-colour-light: #3d96cb!important;
$accent-colour-light: ff6498!important;
$white-text: #FFF!important;
$black-text: rgba(0,0,0,.87)!important;
$title-colour: #004153!important;

$breakpoint-m: 48em;

body {
  padding: 0;
  margin: 0;
//  font-family: Open Sans, Arial, sans-serif;
}

body div.content {
  padding: 0 13rem;
  @media screen and (max-width: 1170px) { padding: 0 0rem; }
  line-height: 1.2;
  overflow: none;
}

h1 {
  font-size: 24px;
}
h2 {
//  font-family: Open Sans, Arial, sans-serif;
  font-size: 2.5rem;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}


a:not(.mdl-navigation__link) {
    color: $title-colour;
}

.mdl-navigation {
    padding-top: 0px !important;
}
.mdl-layout__drawer {
    border-right: none !important;
}

.mdl-layout__header {
    background-color: $title-colour;
}
.side-drawer-logo-container {
    display: flex;
    justify-content: center;
    background-color: $title-colour;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    img {
        max-width: 100%;
    }
}
.large-logo {
    @media (max-width: $breakpoint-m) {
         display: none;
    }

    display: flex;
    justify-content: center;
    background-color: $title-colour;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    img {
        max-width: 100%
    }
}
.component-header {
  margin-top: 0px;
  background-color: $title-colour;
  color: $white-text;
  font-size: 25px;
  padding-left: 25px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}
* {
  font-family: "Titillium Web", sans-serif;
}

.highlight {
  color: $primary-colour;
}

.title {
  color: $title-colour;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.logo-toolbar-container {
   line-height:48px;
}

.mdl-layout__header-row{
    padding: 0 40px 0 60px;
}

// For the blog post layout

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}
.demo-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  height: 160px;
  background: #03a9f4;
}
.demo-card-square > .mdl-card__accent {
  background: #ff9800;
}


.content-grid {
    &-title {
        font-size: 25px;
//        font-family: 'Open Sans', Arial, sans-serif;
    }
    &-box{
        width:50%;
        float:left;
        padding: 30px 10px;
        text-align: center;
        box-sizing: border-box;
        border: 4px solid black;
        &-one{
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            background: #DCDCDC;
        }
        &-two{
            border-left: 2px solid black;
            border-bottom: 2px solid black;
            background: #DCDCDC;
        }
        &-three{
            border-right: 2px solid black;
            border-top: 2px solid black;
            background: #DCDCDC;
        }
        &-four{
            border-left: 2px solid black;
            border-top: 2px solid black;
            background: #DCDCDC;
        }
    }
 }


 .grid-wrapper {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 1em;
   clear: both;

   h1 {
       font-family: "Titillium Web", sans-serif;
       font-size: 70px;
       text-align: center;
       color: $title-colour;
       margin: 36px 0px 24px;
      @media (max-width: $breakpoint-m) {
        font-size: 30px;
        margin: 18px 0px 12px;
      }
   }
 }

 .width-1-12 {
   grid-column: span 1;
 }

 .width-2-12 {
   grid-column: span 2;
 }

 .width-3-12 {
   grid-column: span 3;
 }

 .width-4-12 {
   grid-column: span 4;
 }

 .width-5-12 {
   grid-column: span 5;
 }

 .width-6-12 {
   grid-column: span 6;
 }

 .width-7-12 {
   grid-column: span 7;
 }

 .width-8-12 {
   grid-column: span 8;
 }

 .width-9-12 {
   grid-column: span 9;
 }

 .width-10-12 {
   grid-column: span 10;
 }

 .width-11-12 {
   grid-column: span 11;
 }

 .width-12-12 {
   grid-column: span 12;
 }

 .width-1-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 1;
   }
 }

 .width-2-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 2;
   }
 }

 .width-3-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 3;
   }
 }

 .width-4-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 4;
   }
 }

 .width-5-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 5;
   }
 }

 .width-6-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 6;
   }
 }

 .width-7-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 7;
   }
 }

 .width-8-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 8;
   }
 }

 .width-9-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 9;
   }
 }

 .width-10-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 10;
   }
 }

 .width-11-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 11;
   }
 }

 .width-12-12-m {
   @media (max-width: $breakpoint-m) {
     grid-column: span 12;
   }
 }

 .callout {
   padding: 0 1.5rem;
   text-align: left;
   margin-bottom: 1.5rem;
   display:flex;
   align-items:center;
   h2 {
     font-family: "Titillium Web", sans-serif;
     font-size: 24px;
     display: block;
     float: left;
     width: 35%;
     margin: 2rem 1rem;
     text-transform: uppercase;
   }
   p {
     font-size: 18px;
     width: 65%;
     display: block;
     margin: 0 0 0;
   }
   &.grey {
     background-color: #DCDCDC;
   }
   &.blue {
     background-color: #A3DBE8;
   }
 }

@media screen and (max-width: 1505px) {
  .callout {
    h2, p {
      width: 50%;
    }
  }
}


@media screen and (max-width: 1024px) {
  .callout {
    display: block;
    padding: 1rem 1.5rem;
    h2, p {
      display: block;
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }
}

.home-section {
  text-align: center;
  padding-bottom: 4rem;
  &:not(:last-of-type){
    border-bottom: 4px solid white;
  }
}

.mdl-navigation__link {
  font-size: 17px;

  &--current {
    opacity: 1;
    font-weight: bold;
  }
}

a.button-cta {
  text-align: center;
  //color: $dark-blue;
  //background-color: $yellow;
  border: 2px solid; //$yellow;
  text-transform: uppercase;
  text-decoration: none;
  margin: .5rem;
  padding: 12px 40px;
  white-space: nowrap;
  line-height: 3.5;
  transition: background .2s ease-in 0s;
  &:hover, &:active, &:focus {
    //background-color: $dark-yellow;
    //border-color: $dark-yellow;
    //color: $yellow;
  }
  @media screen and (max-width: 768px) {
    line-height: 1.5;
  }
}

a.button-cta.secondary {
  background: none;
  border: 2px solid; //$yellow;
  //color: $yellow;
  &:hover, &:active, &:focus {
    //background-color: $dark-yellow;
    //border-color: $dark-yellow;
    //color: $yellow;
  }
}